/* .half-border {
  position: relative;
}

.half-border::before,
.half-border::after {
  content: '';
  position: absolute;
  background-color: #008B8B;
  height: 2px;
  width: 50%;
  animation: moveBorder 2s infinite;
} */

.half-border {
  /* --borderWidth: 3px; */
  background: transparent;
  position: relative;
  border-radius: 12px;
  cursor: none;
}
.half-border:hover:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  height: 360px;
  width: 270px;
  background: linear-gradient(60deg, #11141a, #151515, #101a20, #161313, #010e0f, #0e1622, #12051a, #070F2B, #1d1a18, #18171a, #130822, #05141b, #1F1717, #04172b, #02202c, #001524);
  border-radius: 12px;
  z-index: -1;
  animation: animatedgradient 8s ease alternate infinite;
  background-size: 800% 800%;
}

.half-border:hover {
  transition: all 1.2s ease;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


