.half-border {
    position: relative;
  }
  
  .half-border::before,
  .half-border::after {
    content: '';
    position: absolute;
    background-color: #008B8B;
  }
  
  .half-border::before {
    top: 0;
    left: 50%;
    width: 50%;
    height: 2px;
  }
  
  .half-border::after {
    bottom: 0;
    left: 0;
    width: 50%;
    height: 1px;
  }
  
  .half-border .half-right,
  .half-border .half-left {
    position: absolute;
    background-color: #008B8B;
    width: 1px;
    height: 50%;
  }
  
  .half-border .half-right {
    top: 50%;
    right: 0;
  }
  
  .half-border .half-left {
    bottom: 0;
    left: 0;
  }
  